Assets/blender/
Assets/DlibFaceLandmarkDetector/DlibFaceLandmarkDetectorWithOpenCVExample.unitypackage.meta
Assets/DlibFaceLandmarkDetector/
Assets/Live2D/
Assets/OpenCVForUnity/
Library/
Assets/smcs.rsp
Assets/Live2D.meta
Assets/DlibFaceLandmarkDetector.meta
Assets/smcs.rsp.meta
Assets/mcs.rsp.meta
Assets/mcs.rsp
Assets/gmcs.rsp.meta
Assets/gmcs.rsp
Assets/csc.rsp.meta
Assets/csc.rsp
Assets/blender.meta
Temp/
.vs/
/obj
/Debug
/x64/Release
/Release
/bin
Assets/OVRLipSync/
x64/
Assets/AssetStoreTools/
Assets/LeapMotion/Core/Scripts/VR/Editor/LeapTemporalWarpingEditor.cs
Assets/LeapMotion/
Assets/Standard Assets/
